<table *ngIf="!showLoader && planets.length">
    <thead>
        <th>Planet Name</th>
        <th>Climate</th>
        <th>Number of Residents</th>
        <th>Terrain</th>
        <th>Population</th>
        <th>Water Surface Area</th>
    </thead>
    <tr *ngFor="let planet of planets">
        <td><a href="{{planet.url}}" target="_blank">{{filterColumnVal(planet.name)}}</a></td>
        <td>{{filterColumnVal(planet.climate)}}</td>
        <td>{{numberWithSpaces(filterColumnVal(planet.residents.length))}}</td>
        <td>{{filterColumnVal(planet.terrain)}}</td>
        <td>{{numberWithSpaces(filterColumnVal(planet.population))}}</td>
        <td>{{calculateWaterSurfaceArea(filterColumnVal(planet.surface_water), filterColumnVal(planet.diameter))}}</td>
    </tr>
</table>

<div class="d-flex justify-content-center" *ngIf="showLoader">
    <div class="spinner-border" role="status" >
      <span class="sr-only loading"></span>
      <span class="loading_msg">Loading...</span>
    </div>
</div>